@keyframes curveAnimation {
    0% {
        transform: translateX(0);
    }

    // 50% {
    //     transform: translateX(-10px);
    // }

    // 100% {
    //     transform: translateX(0);
    // }
}

.gaugeAnimation {
    // writing-mode: vertical-rl;
    // text-orientation: upright;
    // font-family: 'Arial', sans-serif;
    animation: curveAnimation 1s infinite;
}

.verticalCurvedText {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}