.wrapFinchat {
  width: 100%;
  height: calc(100vh - 104px);
  display: flex;
  // border: 1px solid #ccc;
  .left {
    width: 200px;
    height: 100%;
    background: rgb(205, 216, 245);
    // background: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    .newchat {
      width: 90%;
      height: 48px;
      font-size: 18px;
      background-color: rgb(92, 103, 251);
      color: antiquewhite;
      border-radius: 28px;
    };
    #scrollable-div {
      flex: 1;
    }
    .wrapHistory{
      width: 90%;
      text-align: left;
      max-height: 90%;
      font-size: 14px;
      overflow-y: auto;
      margin: 12px 0;
      :global(.ant-list-item){
        &:hover{
          cursor: pointer;
          color: #1890ff;
        }
      }
    }
  }
  .right {
    flex: 1;
    position: relative;
    .wrapCopy {
      position: absolute;
      right: 50px;
      top: 30px;
    }
    .infobox {
      // position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* 水平居中 */
      align-content: center;   /* 垂直居中，当有多余空间时生效 */
      margin: 24px 48px 24px 48px;
      .cardcontainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;        /* 可以根据需要调整最大宽度 */
        gap: 5rem;
      } 
    }
    .content {
      max-height: 85%;
      overflow-y: auto;
      .user {
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0 0;
      }
      :global(.ant-card) {
        width: 85% !important;
        border-radius: 14px;
      }
      :global(.ant-card-body) {
        padding: 12px;
        font-size: 14px;
      }
      .tag {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #1890ff;
      }
      .cursor {
        display: inline-block;
        vertical-align: middle;
        // position: absolute;
        width: 7px;
        height: 16px;
        margin: -2px 0 0 4px;
        background-color: black;
        animation: blink 1s infinite;
      }
    }
    .wrapTxt {
      .top {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 85px;
      }
      .bottom {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 85%;
        transform: translateX(-50%);
        :global(.ant-input-affix-wrapper) {
          height: 60px;
          border-radius: 14px;
        }
        :global(.ant-btn) {
          height: 60px;
          margin: 0 0 0 12px;
          border-radius: 14px;
        }
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
