.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    background-color: #d9d9d9;
    /* 设置背景颜色 */
    border-radius: 50%;
    /* 设置圆角 */
    width: 20px;
    /* 设置宽度 */
    height: 40px;
    /* 设置高度 */
    line-height: 40px;
    /* 设置行高 */
    text-align: center;
    /* 设置文本居中 */
    font-size: 20px;
    /* 设置字体大小 */
    color: #ffffff;
    /* 设置字体颜色 */

    &:hover {
        color: #ffffff;
    }
}

/* FeatureCard.css */
.swiper-container {
    position: relative;
}

/* FeatureCard.css */
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    z-index: 1;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    width: 30px;
    /* 设置宽度 */
    height: 100px;
    /* 设置高度 */
    background-color: rgb(243, 242, 242);
    /* 设置背景颜色 */
    border-radius: 10px;
    /* 设置圆角 */
    border: none;
    /* 隐藏边框 */
    color: rgb(82, 82, 82);
    /* 设置文字颜色 */
    font-size: 16px;
    /* 设置字体大小 */
    padding: 0;
    /* 移除默认内边距 */
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}


.customIndicator {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    color: #ffffff;
    border-radius: 4px;
    user-select: none;
}