.content {
  height: 120px;
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  user-select: none;
}

.fixedBottom {
  position: fixed;
  background-color: #f3f3f3;
  // bacolor: #e4e4e4;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

// .content-wrapper {  
//   // 根据需要设置样式，比如 padding 或 margin  
//   padding-bottom: 50px; // 为 Tabs 留出空间  
// }  

// .fixed-bottom-tabs {  
//   position: fixed;  
//   bottom: 0;  
//   width: 100%;  
//   // 其他你需要的样式，比如背景色、边框等  
// }