.containerStyle {
    display: flex;
    flex-wrap: wrap;
    padding-block-end: 20px;
}

.itemStyle {
    display: flex;
    flex-wrap: wrap;
    padding-block-end: 4px;
}

.inpStyle {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

.fountStyle {
    margin: auto;
    vertical-align: middle;
}

.figStyle {
    margin: auto;
    vertical-align: middle;
    color: grey;
}

.but1Style {
    margin: auto;
    vertical-align: middle;
    padding-left: 90px;
}

.but2Style {
    margin: auto;
    vertical-align: middle;
    padding-left: 30px;
}

.tag2chick {
    background-color: aqua;
    // color: red;
}